<br>
<div class="container card">
    <div class="text-center">
        <h3>Web Development : Angular Assignment - 3</h3>
    </div><br><br>

    <div *ngIf="!solution">
      <div class="container">
          <strong>1.Create Angular Application which contains two components and
              display the contents of that two components after the root components.
            </strong>
              <p>Expected output of our application should be <br>
                Inside Root component <br>
                Inside First Component <br>
                Inside Second component <br>
                Create new components using ng generate command and add its markups in app.component.html file.
              </p>
<hr>
            <strong>2. Create the application which contains two components as First and
              second Display specific text from both the component.
            </strong>
              <p>Text of first component should be displayed in Red colour and for second component use Blue colour.
                Follow same steps as the above application. As we want to specify the colours we have to write the
                colours specification in appropriate .css file of each component.
              </p>
<hr>
            <strong>3. Create angular application which contains one user defined function inside class.
              We have to call that function using String interpolation.
            </strong>
            <p>
              Write one public function inside class named as fun() and call that function inside {{ call }}.
            </p>
<hr>
            <strong>4. Create application which display length of the string which is characteristics of the class
              as well as we have to convert that string into upper case.
            </strong>
            <p>
            To solve this question we can use length property and ToUpperCase() function
            inside sting interpolation.
            </p>
<hr>
            <strong>5. Create angular application which one button. When user press that button we have to
              display some text as “Button Clicked” otherwise display “Marvellous Infosystems”.
            </strong>
            <p>
            As we want to handle event of button click we have to use this tag as (click)= “fun()”.
            In this case inside the fun function we will change the text.
            </p>
      </div><br>

      <div class="container text-center">
          <button class="btn btn-outline-success" (click)="onSolution()">  View Solutions</button>
      </div>
    </div>

    <div *ngIf="solution">

      <br> Q1 <br> <b>Sub component</b> <br>
      <app-root></app-root>
      <app-first></app-first>
      <app-second></app-second>
<hr>
      <br> <br> Q2 <br> <b>colored Sub component</b> <br>
      <app-third></app-third>
      <app-fourth></app-fourth>
<hr>
      <br> <br> Q3 <br> <b>User defined function from string interpolation</b> <br>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, function from string interpolation is called</p>
        <hr>
        <div *ngIf="!staticAlertClosed" >
            <ngb-alert (close)="staticAlertClosed = true">If function called then this will dismiss in 10 seconds!</ngb-alert>
            {{fun()}}
        </div>


        <p class="mb-0"> Above part is dismssable if already done reload it.</p>
      </div>
      <!-- {{fun()}} -->
<hr>
      <br> <br> Q4 <br> <b> string interpolation</b> <br>
      Dummy Text : {{dummy}} <br>
      length : {{dummy.length}} <br>
      upperCase : {{dummy | uppercase}}
<hr>
      <br> <br> Q5 <br> <b>change text</b> <br>
      <h3>{{dynamic}}</h3> <br>
      <button class="btn btn-outline-info" (click)="changeText()"> click to change text</button>

    </div>
    <br><br>

</div>
