<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button (click)="onOS()" class="btn btn-sm btn-outline-primary"> Load Operating Systems</button>
    </div>
    <div class="col-md-4">
        <button (click)="onLang()" class="btn btn-sm btn-outline-success"> Load Programming Languages</button>
    </div>
    <div class="col-md-4">
      <button (click)="onDB()" class="btn btn-sm btn-outline-info"> Load Databases</button>
    </div>
  </div>
  <div class="row">
  </div>
</div>
