<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Database Name</th>
        <th scope="col">Type</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>DB2</td>
        <td>Established</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>MySQL</td>
        <td>Established</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Oracle</td>
        <td>Established </td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>PostgreSQL</td>
        <td>Established </td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>SQLite</td>
        <td>Established</td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>  SQL Server
          </td>
        <td> Established</td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>Sybase</td>
        <td>Established</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>RethinkDB</td>
        <td>New</td>
     </tr>

    <tr>
       <th scope="row">9</th>
        <td>Berkeley DB</td>
        <td>Key-value stores</td>
      </tr>

      <tr>
        <th scope="row">10</th>
        <td>memcached</td>
        <td>Key-value stores</td>
      </tr>

      <tr>
          <th scope="row">11</th>
          <td>redis</td>
          <td>Key-value stores</td>
        </tr>

      <tr>
        <th scope="row">12</th>
        <td>couchDB
            </td>
        <td>Document oriented Stores</td>
      </tr>

      <tr>
          <th scope="row">13</th>
          <td>
              mongoDB</td>
          <td>Document oriented Stores</td>
        </tr>

    </tbody>
  </table>







