<div class="card text-center">
  <div class="card-header">
    Join Now
  </div>
  <div class="card-body">
    <h3 class="card-title">Marvellous Infosystems</h3>
    <p class="card-text">Please follow us </p>
    <ul class="list-inline">
        &nbsp;&nbsp;&nbsp;  <a href="https://www.facebook.com/marvellousinfosystems/">
          <i class="fab fa-facebook"></i></a> &nbsp;&nbsp;&nbsp;
          <br>
    <a href="/">
      <i class="fab fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;

    <a href="/">
      <i class="fab fa-linkedin-in"></i></a> &nbsp;&nbsp;&nbsp;

    <a href="/">
      <i class="fab fa-google-plus-g"></i></a> &nbsp;&nbsp;&nbsp;

    <a href="/">
      <i class="fab fa-whatsapp"></i></a>
  </ul>
    <a href="#" class="btn btn-outline-danger" (click)="call()">Get Involved</a>
  </div>
  <div class="card-footer text-muted">
    Copyrights Protected @Marvellous-2020
  </div>
