<div class="card text-center">
  <div class="card-header">
    Join Now
  </div>
  <div class="card-body">
    <h4 class="card-title">Marvellous Infosystems</h4>
    <p class="card-text">Please follow us </p>
    <ul class="list-inline">
    1<a href="/"><i class="fab fa-twitter"></i></a>
    2<a href="/"> <i class="fa fa-facebook"></i></a>
    3<i class="fab fa-facebook"></i><i class="fas fa-facebook"></i>
    4<a href="/"><i class="fab fa-linkedin-in"></i></a>
    5<a href="/"><i class="fab fa-google-plus-g"></i></a>
    6<a href="/"><i class="fab fa-whatsapp"></i></a>
  </ul>
    <a href="#" class="btn btn-outline-danger">Get Involved</a>
  </div>
  <div class="card-footer text-muted">
    Copyrights Protected 2018
  </div>
