<br>
<div class="container card ">
    <div class="text-center">
        <h3>Web Development : Angular Assignment - 5</h3>
    </div><br><br>

    <div *ngIf="!solution">
      <div class="container">
          <strong>1.Create Angular Application which displays Admission form.Use “Bootstrap” to design the form. Admission form contains following details of students as Students name, Address, Gender, Mobile number, College name, Email ID, Batch name. Use appropriate bootstrap components for each form details.
            </strong>
              <p>After creating the project download bootstrap locally as <br>
                  npm install —save bootstrap <br>
                  Add path of bootstrap file in angular.json file. <br>
                  To use concept of bootstrap please refer the attached book from previous mail. <br>

              </p>
<hr>
            <strong>2. Use the form which is created by above application and add one new button as submit. When user press submit button we have to display all entered information into log (Use Console.log())
            </strong>
              <p>Add event listener for the button and fetch data from the form and display on console.
              </p>
<hr>
            <strong>
                3. Create the angular application which creates template driven form. This form accepts username and password. Username is compulsory while accepting the details.
            </strong>
            <p>
                Use validation technique to create the application.
            </p>
<hr>
            <strong>4. Create angular application which Accept username and its college name from user. Username is compulsory and it should contains minimum 5 characters in it. College name field is also compulsory but maximum length of password should be 7 characters.
            </strong>

      </div><br>

      <div class="container text-center">
          <button class="btn btn-outline-success" (click)="onSolution()">  View Solutions</button>
      </div>
    </div>

    <div *ngIf="solution">

      <div class="accordion" id="accordionExample">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Question #1
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <app-form></app-form>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Question #2
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <button class="btn btn-outline-warning btn-lg"> Print Data To Console</button>
                </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Question #3
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  <app-template></app-template>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Question #4
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <app-validation></app-validation>
                  </div>
              </div>
            </div>

        </div>

    </div>
    <br><br>
</div>
