<p>
  Data From SubComponent3 <br>
  <button class="btn btn-outline-danger btn-sm" (click)="GetData()">Get Data</button>
</p>
<div class="container">
  <div class="row">
    <div >
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Book Author</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of bookName">
            <td>{{value.Author }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

