<section id="services" class="bg-img2 text-center" style="background-position: 60% -92px; ">
    <div class="overlay"></div>
    <div class="container text-center">
      <div class="row">
        <div class="container col-lg-8 col-lg-offset-2" style="margin-top: -100px;">
          <h3>Assignments</h3>
          <p>Here you can go through all marvellous angular 6 assignments</p>
        </div>
      </div>

      <div class="row">
        <div data-wow-delay=".3s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <a routerLink="asgn1" routerLinkActive="active" >
           <h4> <i class="icon icon-big ion-ios-analytics-outline" ></i>Assignment 1</h4>
          </a>
          <p> demo text</p>
        </div>

        <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
          <a routerLink="asgn2" routerLinkActive="active" >
            <h4><i class="icon icon-big ion-ios-pie-outline"></i>Assignment 2</h4>
          </a>
          <p>demo text</p>
        </div>

        <div data-wow-delay=".9s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
          <a routerLink="asgn3" routerLinkActive="active" >
            <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>Assignment 3</h4>
          </a>
          <p>demo text</p>
        </div>

        <div data-wow-delay="1.2s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
          <a routerLink="asgn4" routerLinkActive="active" >
            <h4><i class="icon icon-big ion-ios-game-controller-b-outline"></i>Assignment 4</h4>
          </a>
          <p>demo text</p>
        </div>

        <div data-wow-delay="1.5s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
          <a routerLink="asgn5" routerLinkActive="active" >
            <h4><i class="icon icon-big icon ion-ios-infinite-outline"></i>Assignment 5</h4>
          </a>
          <p>demo text</p>
        </div>

        <div data-wow-delay="1.8s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeIn;">
          <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i>6 demo</h4>
          <p>demo text</p>
        </div>

        <div data-wow-delay="2.1s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.4s; animation-name: fadeIn;">
          <h4><i class="icon icon-big ion-ios-monitor-outline"></i>7 demo</h4>
          <p>demo text</p>
        </div>

        <div data-wow-delay="2.4s" class="col-lg-3 col-sm-6 wow fadeIn animated" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeIn;">
          <h4><i class="icon icon-big ion-ios-settings"></i>8 demo</h4>
          <p>demo text</p>
        </div>

      </div>
    </div>
  </section>
