
    <header class="img14 header-intro">
      <div class="header-intro-body">
        <h1>MARVELLOUS<span class="badge hidden-sm hidden-xs">piyush</span></h1>
        <h5>Educating For <span class="bold">Better</span> Tommarow
        </h5>
        <div data-wow-delay="1s" class="scroll-btn wow fadeInDown animated"
              style="visibility: visible; animation-delay: 1s; animation-name: fadeInDown;">
              <a href="#asgn" class="page-scroll">
                <span class="mouse">
                  <span class="weel">
            <span></span></span></span>
          </a>
        </div>
      </div>
    </header>
    <app-banner id="asgn" ></app-banner>

